.com-pagination{
  ul,li{
    display: inline-block;
    list-style: none;
  }
  &-total{
    display: inline-block;
    margin-right: 8px;
  }
  &-select{
    margin-right: 8px;
    display: inline-block;
    select{
      display: inline-block;
    }
  }
  .btn{
    user-select: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 4px;
    border: none;
    outline: none;
    &:active{
      border: none;
    }
    &:hover{
      color: #26a2ff;
      border: none;
    }
    &[disabled]{
      cursor: not-allowed;
      color: #999;
      &:hover{
        color: #999;
        border: none;
      }
    }
  }
  &-pager{
    user-select: none;
    padding: 0 6px;
    margin: 0;
   li{
     display: inline-block;
     padding: 0 8px;
     margin: 0 4px;
   }
    .more{
    }
    .number{
      cursor: pointer;
      &:hover{
        color: #26a2ff;
      }
    }
    .active{
      border: #26a2ff;
      color: #26a2ff;
    }
  }
  &-input{
    input{
      width: 30px;
      text-align: center;
    }
  }
}
