<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<script src="/lib/jquery-3.4.1.min.js"></script>
<script src="/lib/socket.io.js"></script>
<script>

    var person = prompt("请输入您的昵称", "马云");


    var socketBase = io('wss://127.0.0.1:3000');

    var socket = io('/<%= nsp %>?room=<%= room %>');

    if (person != null) {
        socket.emit('name', person);
    }

    socket.on('connect', () => {
        // console.log(socket.connected); // true
    });


    $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', $('#m').val());
        $('#messages').append($('<li>').text( person + "说："  +  $('#m').val()));
        $('#m').val('');
        return false;
    });

    // let zhengzaishuruzhong = false
    // let timer = 0
    // $('#m').on('input',function(){
    //     clearTimeout(timer)
    //     timer = setTimeout(function(){
    //         zhengzaishuruzhong = false
    //         socket.emit('shuruzhong', zhengzaishuruzhong);
    //     },1000 * 10)
    //     if (!zhengzaishuruzhong) {
    //         zhengzaishuruzhong = true
    //         socket.emit('shuruzhong', zhengzaishuruzhong);
    //     }
    // })

    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
    });


</script>
</body>
</html>
