<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <base target="_blank"/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<p>导航页</p>
<ul>
    <li>
        <a href="/common/test">公共接口导航页</a>
    </li>
</ul>
</body>
</html>
