@import "../../assets/styles/mixin";

.search-box{
  margin-top: 20px;
  .el-form-item{
    margin-right: 20px;
  }
}
.tool-box{
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  .left{
    flex: 1;
    text-align: left;
    .el-button{
      margin-right: 20px;
    }
  }
  .right{
    flex: 1;
    text-align: right;
  }
}

.main-table{
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  .search-box{
    flex: none;
  }
  .tool-box{
    flex: none;
  }
  .list-box{
    width: 100%;
    flex: auto;
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollBar('transparent', rgba(200,200,200,0.5));
    .el-table thead {
      color: #555;
      font-weight: 500;
    }
    .table-list {
    }
    .card-list{
    }
  }
  .el-pagination{
    text-align: right;
    margin-top: 25px;
    flex: none;
  }
}


