<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../vendor/favicon.ico">
</head>
    <div>背景图没有问题</div>
    <h1> sass 好用</h1></br>
    <div>
        图片地址没有问题
        <img src="../vendor/images/favicon.ico" alt="">
    </div>
    <div>
        字体图标可以用
        <span class="icon iconfont iconellipsis2"></span>
    </div>


    <div class="message">

    </div>

    <div class="jquery">
        变色jquery可以用
    </div>


    <div style="margin-top: 40px">
        <div style="width: 400px;height: 300px" id="main"></div>
    </div>


</body>
</html>
