@import url('../../assets/css/base.scss');
html,body{
  height: 100%;
}
body{
  padding: 20px;
  background: url("../../assets/images/mienv.jpg") no-repeat #fff center;
  h1{
    color: olivedrab;
  }
}
